@font-face {
    font-family: "RickAndMorty";
    src: url("../fonts/rick_and_morty_font.ttf");
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/3.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    padding-top: 18%;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.box {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    font-family: sans-serif;
    text-align: center;
    line-height: 1;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    padding: 20px 40px;
    color: white;
    font-family: "RickAndMorty";
}